_target_: src.models.modelmodule.INRTraining

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: 1e-3
  weight_decay: 1e-5

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

criterion:
  _target_: torch.nn.MSELoss

net:
  _target_: src.models.components.WIRENet.WIRE
  input_dim: 2
  hidden_dim: 256
  output_dim: 1
  num_layers: 6
  omega_0: 10.0
  omega_0_hidden: 10.0
  scale_0: 30.0
  trainable_params: false

compile: false

ntk_analysis: false
ntk_frequency: 2
ntk_top_k: 10
ntk_normalize: "trace"

checkpoint_epochs: []

ablation_noise: false
noise_type: "gaussian"
noise_level: 0.01
